.bas-panel .item .ind_0_001 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.01,rgba(127,0,0,.1)),color-stop(0.01,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_002 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.02,rgba(127,0,0,.1)),color-stop(0.02,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_003 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.03,rgba(127,0,0,.1)),color-stop(0.03,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_004 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.04,rgba(127,0,0,.1)),color-stop(0.04,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_005 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.05,rgba(127,0,0,.1)),color-stop(0.05,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_006 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.06,rgba(127,0,0,.1)),color-stop(0.06,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_007 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.07,rgba(127,0,0,.1)),color-stop(0.07,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_008 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.08,rgba(127,0,0,.1)),color-stop(0.08,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_009 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.09,rgba(127,0,0,.1)),color-stop(0.09,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_010 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.10,rgba(127,0,0,.1)),color-stop(0.10,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_011 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.11,rgba(127,0,0,.1)),color-stop(0.11,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_012 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.12,rgba(127,0,0,.1)),color-stop(0.12,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_013 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.13,rgba(127,0,0,.1)),color-stop(0.13,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_014 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.14,rgba(127,0,0,.1)),color-stop(0.14,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_015 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.15,rgba(127,0,0,.1)),color-stop(0.15,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_016 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.16,rgba(127,0,0,.1)),color-stop(0.16,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_017 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.17,rgba(127,0,0,.1)),color-stop(0.17,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_018 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.18,rgba(127,0,0,.1)),color-stop(0.18,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_019 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.19,rgba(127,0,0,.1)),color-stop(0.19,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_020 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.20,rgba(127,0,0,.1)),color-stop(0.20,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_021 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.21,rgba(127,0,0,.1)),color-stop(0.21,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_022 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.22,rgba(127,0,0,.1)),color-stop(0.22,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_023 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.23,rgba(127,0,0,.1)),color-stop(0.23,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_024 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.24,rgba(127,0,0,.1)),color-stop(0.24,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_025 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.25,rgba(127,0,0,.1)),color-stop(0.25,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_026 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.26,rgba(127,0,0,.1)),color-stop(0.26,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_027 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.27,rgba(127,0,0,.1)),color-stop(0.27,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_028 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.28,rgba(127,0,0,.1)),color-stop(0.28,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_029 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.29,rgba(127,0,0,.1)),color-stop(0.29,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_030 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.30,rgba(127,0,0,.1)),color-stop(0.30,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_031 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.31,rgba(127,0,0,.1)),color-stop(0.31,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_032 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.32,rgba(127,0,0,.1)),color-stop(0.32,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_033 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.33,rgba(127,0,0,.1)),color-stop(0.33,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_034 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.34,rgba(127,0,0,.1)),color-stop(0.34,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_035 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.35,rgba(127,0,0,.1)),color-stop(0.35,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_036 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.36,rgba(127,0,0,.1)),color-stop(0.36,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_037 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.37,rgba(127,0,0,.1)),color-stop(0.37,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_038 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.38,rgba(127,0,0,.1)),color-stop(0.38,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_039 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.39,rgba(127,0,0,.1)),color-stop(0.39,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_040 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.40,rgba(127,0,0,.1)),color-stop(0.40,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_041 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.41,rgba(127,0,0,.1)),color-stop(0.41,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_042 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.42,rgba(127,0,0,.1)),color-stop(0.42,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_043 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.43,rgba(127,0,0,.1)),color-stop(0.43,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_044 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.44,rgba(127,0,0,.1)),color-stop(0.44,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_045 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.45,rgba(127,0,0,.1)),color-stop(0.45,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_046 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.46,rgba(127,0,0,.1)),color-stop(0.46,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_047 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.47,rgba(127,0,0,.1)),color-stop(0.47,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_048 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.48,rgba(127,0,0,.1)),color-stop(0.48,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_049 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.49,rgba(127,0,0,.1)),color-stop(0.49,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_050 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.50,rgba(127,0,0,.1)),color-stop(0.50,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_051 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.51,rgba(127,0,0,.1)),color-stop(0.51,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_052 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.52,rgba(127,0,0,.1)),color-stop(0.52,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_053 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.53,rgba(127,0,0,.1)),color-stop(0.53,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_054 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.54,rgba(127,0,0,.1)),color-stop(0.54,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_055 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.55,rgba(127,0,0,.1)),color-stop(0.55,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_056 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.56,rgba(127,0,0,.1)),color-stop(0.56,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_057 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.57,rgba(127,0,0,.1)),color-stop(0.57,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_058 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.58,rgba(127,0,0,.1)),color-stop(0.58,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_059 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.59,rgba(127,0,0,.1)),color-stop(0.59,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_060 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.60,rgba(127,0,0,.1)),color-stop(0.60,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_061 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.61,rgba(127,0,0,.1)),color-stop(0.61,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_062 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.62,rgba(127,0,0,.1)),color-stop(0.62,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_063 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.63,rgba(127,0,0,.1)),color-stop(0.63,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_064 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.64,rgba(127,0,0,.1)),color-stop(0.64,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_065 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.65,rgba(127,0,0,.1)),color-stop(0.65,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_066 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.66,rgba(127,0,0,.1)),color-stop(0.66,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_067 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.67,rgba(127,0,0,.1)),color-stop(0.67,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_068 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.68,rgba(127,0,0,.1)),color-stop(0.68,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_069 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.69,rgba(127,0,0,.1)),color-stop(0.69,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_070 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.70,rgba(127,0,0,.1)),color-stop(0.70,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_071 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.71,rgba(127,0,0,.1)),color-stop(0.71,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_072 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.72,rgba(127,0,0,.1)),color-stop(0.72,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_073 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.73,rgba(127,0,0,.1)),color-stop(0.73,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_074 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.74,rgba(127,0,0,.1)),color-stop(0.74,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_075 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.75,rgba(127,0,0,.1)),color-stop(0.75,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_076 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.76,rgba(127,0,0,.1)),color-stop(0.76,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_077 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.77,rgba(127,0,0,.1)),color-stop(0.77,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_078 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.78,rgba(127,0,0,.1)),color-stop(0.78,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_079 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.79,rgba(127,0,0,.1)),color-stop(0.79,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_080 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.80,rgba(127,0,0,.1)),color-stop(0.80,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_081 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.81,rgba(127,0,0,.1)),color-stop(0.81,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_082 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.82,rgba(127,0,0,.1)),color-stop(0.82,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_083 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.83,rgba(127,0,0,.1)),color-stop(0.83,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_084 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.84,rgba(127,0,0,.1)),color-stop(0.84,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_085 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.85,rgba(127,0,0,.1)),color-stop(0.85,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_086 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.86,rgba(127,0,0,.1)),color-stop(0.86,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_087 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.87,rgba(127,0,0,.1)),color-stop(0.87,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_088 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.88,rgba(127,0,0,.1)),color-stop(0.88,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_089 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.89,rgba(127,0,0,.1)),color-stop(0.89,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_090 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.90,rgba(127,0,0,.1)),color-stop(0.90,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_091 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.91,rgba(127,0,0,.1)),color-stop(0.91,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_092 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.92,rgba(127,0,0,.1)),color-stop(0.92,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_093 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.93,rgba(127,0,0,.1)),color-stop(0.93,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_094 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.94,rgba(127,0,0,.1)),color-stop(0.94,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_095 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.95,rgba(127,0,0,.1)),color-stop(0.95,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_096 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.96,rgba(127,0,0,.1)),color-stop(0.96,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_097 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.97,rgba(127,0,0,.1)),color-stop(0.97,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_098 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.98,rgba(127,0,0,.1)),color-stop(0.98,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_099 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.99,rgba(127,0,0,.1)),color-stop(0.99,rgba(0,127,127,.1)));}
.bas-panel .item .ind_0_100 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(1.00,rgba(127,0,0,.1)),color-stop(1.00,rgba(0,127,127,.1)));}


.bas-panel .item .ind_1_001 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.01,rgba(0,127,127,.1)),color-stop(0.01,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_002 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.02,rgba(0,127,127,.1)),color-stop(0.02,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_003 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.03,rgba(0,127,127,.1)),color-stop(0.03,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_004 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.04,rgba(0,127,127,.1)),color-stop(0.04,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_005 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.05,rgba(0,127,127,.1)),color-stop(0.05,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_006 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.06,rgba(0,127,127,.1)),color-stop(0.06,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_007 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.07,rgba(0,127,127,.1)),color-stop(0.07,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_008 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.08,rgba(0,127,127,.1)),color-stop(0.08,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_009 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.09,rgba(0,127,127,.1)),color-stop(0.09,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_010 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.10,rgba(0,127,127,.1)),color-stop(0.10,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_011 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.11,rgba(0,127,127,.1)),color-stop(0.11,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_012 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.12,rgba(0,127,127,.1)),color-stop(0.12,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_013 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.13,rgba(0,127,127,.1)),color-stop(0.13,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_014 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.14,rgba(0,127,127,.1)),color-stop(0.14,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_015 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.15,rgba(0,127,127,.1)),color-stop(0.15,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_016 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.16,rgba(0,127,127,.1)),color-stop(0.16,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_017 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.17,rgba(0,127,127,.1)),color-stop(0.17,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_018 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.18,rgba(0,127,127,.1)),color-stop(0.18,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_019 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.19,rgba(0,127,127,.1)),color-stop(0.19,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_020 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.20,rgba(0,127,127,.1)),color-stop(0.20,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_021 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.21,rgba(0,127,127,.1)),color-stop(0.21,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_022 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.22,rgba(0,127,127,.1)),color-stop(0.22,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_023 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.23,rgba(0,127,127,.1)),color-stop(0.23,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_024 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.24,rgba(0,127,127,.1)),color-stop(0.24,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_025 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.25,rgba(0,127,127,.1)),color-stop(0.25,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_026 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.26,rgba(0,127,127,.1)),color-stop(0.26,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_027 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.27,rgba(0,127,127,.1)),color-stop(0.27,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_028 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.28,rgba(0,127,127,.1)),color-stop(0.28,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_029 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.29,rgba(0,127,127,.1)),color-stop(0.29,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_030 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.30,rgba(0,127,127,.1)),color-stop(0.30,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_031 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.31,rgba(0,127,127,.1)),color-stop(0.31,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_032 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.32,rgba(0,127,127,.1)),color-stop(0.32,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_033 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.33,rgba(0,127,127,.1)),color-stop(0.33,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_034 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.34,rgba(0,127,127,.1)),color-stop(0.34,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_035 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.35,rgba(0,127,127,.1)),color-stop(0.35,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_036 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.36,rgba(0,127,127,.1)),color-stop(0.36,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_037 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.37,rgba(0,127,127,.1)),color-stop(0.37,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_038 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.38,rgba(0,127,127,.1)),color-stop(0.38,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_039 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.39,rgba(0,127,127,.1)),color-stop(0.39,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_040 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.40,rgba(0,127,127,.1)),color-stop(0.40,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_041 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.41,rgba(0,127,127,.1)),color-stop(0.41,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_042 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.42,rgba(0,127,127,.1)),color-stop(0.42,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_043 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.43,rgba(0,127,127,.1)),color-stop(0.43,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_044 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.44,rgba(0,127,127,.1)),color-stop(0.44,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_045 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.45,rgba(0,127,127,.1)),color-stop(0.45,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_046 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.46,rgba(0,127,127,.1)),color-stop(0.46,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_047 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.47,rgba(0,127,127,.1)),color-stop(0.47,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_048 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.48,rgba(0,127,127,.1)),color-stop(0.48,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_049 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.49,rgba(0,127,127,.1)),color-stop(0.49,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_050 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.50,rgba(0,127,127,.1)),color-stop(0.50,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_051 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.51,rgba(0,127,127,.1)),color-stop(0.51,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_052 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.52,rgba(0,127,127,.1)),color-stop(0.52,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_053 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.53,rgba(0,127,127,.1)),color-stop(0.53,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_054 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.54,rgba(0,127,127,.1)),color-stop(0.54,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_055 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.55,rgba(0,127,127,.1)),color-stop(0.55,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_056 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.56,rgba(0,127,127,.1)),color-stop(0.56,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_057 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.57,rgba(0,127,127,.1)),color-stop(0.57,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_058 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.58,rgba(0,127,127,.1)),color-stop(0.58,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_059 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.59,rgba(0,127,127,.1)),color-stop(0.59,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_060 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.60,rgba(0,127,127,.1)),color-stop(0.60,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_061 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.61,rgba(0,127,127,.1)),color-stop(0.61,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_062 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.62,rgba(0,127,127,.1)),color-stop(0.62,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_063 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.63,rgba(0,127,127,.1)),color-stop(0.63,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_064 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.64,rgba(0,127,127,.1)),color-stop(0.64,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_065 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.65,rgba(0,127,127,.1)),color-stop(0.65,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_066 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.66,rgba(0,127,127,.1)),color-stop(0.66,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_067 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.67,rgba(0,127,127,.1)),color-stop(0.67,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_068 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.68,rgba(0,127,127,.1)),color-stop(0.68,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_069 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.69,rgba(0,127,127,.1)),color-stop(0.69,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_070 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.70,rgba(0,127,127,.1)),color-stop(0.70,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_071 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.71,rgba(0,127,127,.1)),color-stop(0.71,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_072 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.72,rgba(0,127,127,.1)),color-stop(0.72,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_073 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.73,rgba(0,127,127,.1)),color-stop(0.73,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_074 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.74,rgba(0,127,127,.1)),color-stop(0.74,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_075 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.75,rgba(0,127,127,.1)),color-stop(0.75,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_076 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.76,rgba(0,127,127,.1)),color-stop(0.76,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_077 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.77,rgba(0,127,127,.1)),color-stop(0.77,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_078 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.78,rgba(0,127,127,.1)),color-stop(0.78,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_079 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.79,rgba(0,127,127,.1)),color-stop(0.79,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_080 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.80,rgba(0,127,127,.1)),color-stop(0.80,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_081 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.81,rgba(0,127,127,.1)),color-stop(0.81,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_082 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.82,rgba(0,127,127,.1)),color-stop(0.82,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_083 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.83,rgba(0,127,127,.1)),color-stop(0.83,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_084 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.84,rgba(0,127,127,.1)),color-stop(0.84,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_085 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.85,rgba(0,127,127,.1)),color-stop(0.85,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_086 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.86,rgba(0,127,127,.1)),color-stop(0.86,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_087 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.87,rgba(0,127,127,.1)),color-stop(0.87,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_088 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.88,rgba(0,127,127,.1)),color-stop(0.88,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_089 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.89,rgba(0,127,127,.1)),color-stop(0.89,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_090 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.90,rgba(0,127,127,.1)),color-stop(0.90,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_091 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.91,rgba(0,127,127,.1)),color-stop(0.91,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_092 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.92,rgba(0,127,127,.1)),color-stop(0.92,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_093 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.93,rgba(0,127,127,.1)),color-stop(0.93,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_094 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.94,rgba(0,127,127,.1)),color-stop(0.94,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_095 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.95,rgba(0,127,127,.1)),color-stop(0.95,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_096 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.96,rgba(0,127,127,.1)),color-stop(0.96,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_097 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.97,rgba(0,127,127,.1)),color-stop(0.97,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_098 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.98,rgba(0,127,127,.1)),color-stop(0.98,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_099 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(0.99,rgba(0,127,127,.1)),color-stop(0.99,rgba(127,0,0,.1)));}
.bas-panel .item .ind_1_100 {background-image:-gtk-gradient(linear,0 0,1 0,color-stop(1.00,rgba(0,127,127,.1)),color-stop(1.00,rgba(127,0,0,.1)));}

.bas-panel .item .ind_v1_001 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.01,rgba(127,0,0,.1)),color-stop(0.01,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_002 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.02,rgba(127,0,0,.1)),color-stop(0.02,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_003 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.03,rgba(127,0,0,.1)),color-stop(0.03,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_004 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.04,rgba(127,0,0,.1)),color-stop(0.04,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_005 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.05,rgba(127,0,0,.1)),color-stop(0.05,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_006 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.06,rgba(127,0,0,.1)),color-stop(0.06,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_007 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.07,rgba(127,0,0,.1)),color-stop(0.07,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_008 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.08,rgba(127,0,0,.1)),color-stop(0.08,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_009 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.09,rgba(127,0,0,.1)),color-stop(0.09,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_010 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.10,rgba(127,0,0,.1)),color-stop(0.10,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_011 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.11,rgba(127,0,0,.1)),color-stop(0.11,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_012 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.12,rgba(127,0,0,.1)),color-stop(0.12,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_013 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.13,rgba(127,0,0,.1)),color-stop(0.13,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_014 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.14,rgba(127,0,0,.1)),color-stop(0.14,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_015 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.15,rgba(127,0,0,.1)),color-stop(0.15,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_016 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.16,rgba(127,0,0,.1)),color-stop(0.16,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_017 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.17,rgba(127,0,0,.1)),color-stop(0.17,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_018 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.18,rgba(127,0,0,.1)),color-stop(0.18,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_019 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.19,rgba(127,0,0,.1)),color-stop(0.19,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_020 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.20,rgba(127,0,0,.1)),color-stop(0.20,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_021 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.21,rgba(127,0,0,.1)),color-stop(0.21,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_022 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.22,rgba(127,0,0,.1)),color-stop(0.22,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_023 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.23,rgba(127,0,0,.1)),color-stop(0.23,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_024 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.24,rgba(127,0,0,.1)),color-stop(0.24,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_025 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.25,rgba(127,0,0,.1)),color-stop(0.25,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_026 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.26,rgba(127,0,0,.1)),color-stop(0.26,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_027 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.27,rgba(127,0,0,.1)),color-stop(0.27,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_028 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.28,rgba(127,0,0,.1)),color-stop(0.28,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_029 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.29,rgba(127,0,0,.1)),color-stop(0.29,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_030 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.30,rgba(127,0,0,.1)),color-stop(0.30,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_031 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.31,rgba(127,0,0,.1)),color-stop(0.31,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_032 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.32,rgba(127,0,0,.1)),color-stop(0.32,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_033 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.33,rgba(127,0,0,.1)),color-stop(0.33,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_034 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.34,rgba(127,0,0,.1)),color-stop(0.34,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_035 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.35,rgba(127,0,0,.1)),color-stop(0.35,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_036 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.36,rgba(127,0,0,.1)),color-stop(0.36,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_037 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.37,rgba(127,0,0,.1)),color-stop(0.37,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_038 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.38,rgba(127,0,0,.1)),color-stop(0.38,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_039 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.39,rgba(127,0,0,.1)),color-stop(0.39,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_040 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.40,rgba(127,0,0,.1)),color-stop(0.40,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_041 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.41,rgba(127,0,0,.1)),color-stop(0.41,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_042 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.42,rgba(127,0,0,.1)),color-stop(0.42,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_043 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.43,rgba(127,0,0,.1)),color-stop(0.43,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_044 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.44,rgba(127,0,0,.1)),color-stop(0.44,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_045 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.45,rgba(127,0,0,.1)),color-stop(0.45,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_046 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.46,rgba(127,0,0,.1)),color-stop(0.46,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_047 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.47,rgba(127,0,0,.1)),color-stop(0.47,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_048 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.48,rgba(127,0,0,.1)),color-stop(0.48,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_049 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.49,rgba(127,0,0,.1)),color-stop(0.49,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_050 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.50,rgba(127,0,0,.1)),color-stop(0.50,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_051 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.51,rgba(127,0,0,.1)),color-stop(0.51,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_052 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.52,rgba(127,0,0,.1)),color-stop(0.52,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_053 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.53,rgba(127,0,0,.1)),color-stop(0.53,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_054 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.54,rgba(127,0,0,.1)),color-stop(0.54,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_055 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.55,rgba(127,0,0,.1)),color-stop(0.55,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_056 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.56,rgba(127,0,0,.1)),color-stop(0.56,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_057 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.57,rgba(127,0,0,.1)),color-stop(0.57,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_058 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.58,rgba(127,0,0,.1)),color-stop(0.58,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_059 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.59,rgba(127,0,0,.1)),color-stop(0.59,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_060 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.60,rgba(127,0,0,.1)),color-stop(0.60,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_061 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.61,rgba(127,0,0,.1)),color-stop(0.61,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_062 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.62,rgba(127,0,0,.1)),color-stop(0.62,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_063 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.63,rgba(127,0,0,.1)),color-stop(0.63,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_064 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.64,rgba(127,0,0,.1)),color-stop(0.64,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_065 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.65,rgba(127,0,0,.1)),color-stop(0.65,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_066 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.66,rgba(127,0,0,.1)),color-stop(0.66,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_067 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.67,rgba(127,0,0,.1)),color-stop(0.67,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_068 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.68,rgba(127,0,0,.1)),color-stop(0.68,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_069 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.69,rgba(127,0,0,.1)),color-stop(0.69,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_070 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.70,rgba(127,0,0,.1)),color-stop(0.70,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_071 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.71,rgba(127,0,0,.1)),color-stop(0.71,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_072 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.72,rgba(127,0,0,.1)),color-stop(0.72,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_073 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.73,rgba(127,0,0,.1)),color-stop(0.73,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_074 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.74,rgba(127,0,0,.1)),color-stop(0.74,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_075 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.75,rgba(127,0,0,.1)),color-stop(0.75,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_076 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.76,rgba(127,0,0,.1)),color-stop(0.76,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_077 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.77,rgba(127,0,0,.1)),color-stop(0.77,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_078 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.78,rgba(127,0,0,.1)),color-stop(0.78,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_079 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.79,rgba(127,0,0,.1)),color-stop(0.79,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_080 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.80,rgba(127,0,0,.1)),color-stop(0.80,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_081 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.81,rgba(127,0,0,.1)),color-stop(0.81,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_082 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.82,rgba(127,0,0,.1)),color-stop(0.82,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_083 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.83,rgba(127,0,0,.1)),color-stop(0.83,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_084 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.84,rgba(127,0,0,.1)),color-stop(0.84,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_085 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.85,rgba(127,0,0,.1)),color-stop(0.85,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_086 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.86,rgba(127,0,0,.1)),color-stop(0.86,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_087 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.87,rgba(127,0,0,.1)),color-stop(0.87,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_088 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.88,rgba(127,0,0,.1)),color-stop(0.88,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_089 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.89,rgba(127,0,0,.1)),color-stop(0.89,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_090 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.90,rgba(127,0,0,.1)),color-stop(0.90,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_091 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.91,rgba(127,0,0,.1)),color-stop(0.91,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_092 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.92,rgba(127,0,0,.1)),color-stop(0.92,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_093 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.93,rgba(127,0,0,.1)),color-stop(0.93,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_094 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.94,rgba(127,0,0,.1)),color-stop(0.94,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_095 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.95,rgba(127,0,0,.1)),color-stop(0.95,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_096 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.96,rgba(127,0,0,.1)),color-stop(0.96,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_097 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.97,rgba(127,0,0,.1)),color-stop(0.97,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_098 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.98,rgba(127,0,0,.1)),color-stop(0.98,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_099 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(0.99,rgba(127,0,0,.1)),color-stop(0.99,rgba(0,127,127,.1)));}
.bas-panel .item .ind_v1_100 {background-image:-gtk-gradient(linear,left bottom,left top,color-stop(1.00,rgba(127,0,0,.1)),color-stop(1.00,rgba(0,127,127,.1)));}