.slb {
  min-width: 4em;
  font-family: monospace;
}
.ind {
  min-width: 6em;
  min-height: 2em;
  font-family: monospace;
}

scale value {
  min-width: 3em;
}

/*---------------------------------------------------------------------*/
progressbar.prb,
progressbar.prb *,
progressbar.prp,
progressbar.prp > text,
progressbar.prp > trough,
progressbar.prc,
progressbar.prc > text,
progressbar.prc > trough {
  min-width: .00001em;
}

progressbar.prb,
progressbar.prb *,
progressbar.prp,
progressbar.prp *,
progressbar.prc,
progressbar.prc * {
  margin: 0;
  padding: 0;
  font-size: inherit;
  background: transparent;
  border-radius: .1em;
}
progressbar.prb,
progressbar.prb * {
  min-width: 4em;
  min-height: .001em;
}
progressbar.prp,
progressbar.prp *,
progressbar.prc,
progressbar.prc * {
  min-height: 2em;
}

progressbar.prb > trough {
  margin: 0 0 0 -4em;
  background: rgba(0,0,127,.1);
}
progressbar.prc > trough {
  background: rgba(127,0,0,.05);
}
progressbar.prp > trough {
  background: rgba(0,127,0,.05);
}

progressbar.prb > text,
progressbar.prp > text,
progressbar.prc > text {
  padding: .5em;
  text-shadow: 0 0 .001em rgba(127,127,127,1);
}
progressbar.prb > text {
  min-width: 0em;
}
progressbar.prp > text,
progressbar.prc > text {
  margin: 0 0 -2.5em 0;
  min-height: 0em;
}
progressbar.prb > trough > progress {
  min-height: 0;
  background: rgba(127,0,0,.1);
  border: .01em solid rgba(127,0,0,.1);
  border-color: rgba(127,0,0,.1);
  border-top-color: rgba(255,0,0,.5);
  border-radius: 0 0 .2em .2em;
}
progressbar.prp > trough > progress {
  background: rgba(127,0,0,.2);
  border: .01em solid rgba(127,0,0,.2);
  border-color: rgba(127,0,0,.2);
}
progressbar.prc > trough > progress {
  border: .01em solid rgba(127,0,0,.1);
  background: rgba(0,127,0,.2);
  border-color: rgba(0,127,0,.2);
}

progressbar.prb,
progressbar.prp,
progressbar.prc {
  font-size: 1em;
  font-family: monospace;
  background: rgba(127,127,127,.1);
  border: .01em solid rgba(127,127,127,.2);
}

progressbar.prp trough.empty,
progressbar.prc trough.empty,
progressbar.prb trough.empty {
  background: rgba(127,127,127,.01);
  border-color: transparent;
}
progressbar.prp trough.empty progress,
progressbar.prc trough.empty progress,
progressbar.prb trough.empty progress {
  background: transparent;
  border-color: transparent;
}
/*---------------------------------------------------------------------*/


.window-settings .vbox {
  margin: 0;
  padding: 0;
}
.window-settings .hbox {
  margin: 0;
  padding: .4em;
}

.apply {
  color: #fff;
  border: none;
  background: #090;
}
.apply:hover {
  background: #0b0;
}
.apply {
  border: none;
  color: #ccc;
  background: #16c;
}
.apply:hover {
  color: #fff;
  background: #08f;
}

.remove {
  color: #ccc;
  border: none;
  background: #b11;
}
.remove:hover {
  color: #fff;
  background: #f00;
}

.id, .id* {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  outline: none;
}

.edit,
.prev,
.next,
.plus,
.refresh {
  margin: .2em;
  padding: 0;
  min-width: 1.4em;
  min-height: 1.4em;
  border-radius: .2em;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  text-shadow: .1em .1em .3em #888;
}
.edit:hover,
.prev:hover,
.next:hover,
.plus:hover,
.refresh:hover {
  outline: none;
  box-shadow: 0 0 .2em rgba(127,127,127,.5);
}
.plus {
  color: #090;
}

.bas-panel {
  padding: 0;
}
.bas-panel .item {
  padding: 0 1em;
  min-height: 2em;
  border-top: .1em solid rgba(127,127,127,.05);
}
.bas-panel .item.sep {
  min-height: .5em;
}
.bas-panel .item .btn {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  min-width: 1em;
  min-height: 1em;
  border: 0;
}
.bas-panel .nlabel,
.bas-panel .mlabel {
  opacity: .5;
}
.bas-panel .string,
.bas-panel .mlabel {
  font-size: .9em;
  font-family: monospace;
}

.bas-panel .mono {
  font-family: monospace;
}

.bas-panel .temp,
.bas-panel .number {
  padding: 0 .5em 0 .5em;
  font-size: .9em;
  font-family: monospace;
  background: rgba(127,127,127,.05);
  border: .1em solid rgba(127,127,127,.3);
  border-radius: .2em;
}
.bas-panel .item .temp {
  padding: .5em .6em;
  color: #99c;
  text-shadow: 0 0 2em #fff, 0 0 1em #00f,
    .00em .00em .06em #000,
    .00em .06em .06em #000,
    .06em .00em .06em #000,
    .06em .06em .06em #000;
  border: .1em solid rgba(0,0,127,.1);
  border-radius: .5em;
}
.bas-panel .item .ind_max {
  color: #c99;
  text-shadow: 0 0 2em #fff, 0 0 1em #f00,
    .00em .00em .06em #000,
    .00em .06em .06em #000,
    .06em .00em .06em #000,
    .06em .06em .06em #000;
  border: .1em solid rgba(127,0,0,.5);
  box-shadow: 0 0 .5em rgba(127,127,127,.5);
}

.bas-panel .nav {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  font-size: 1em;
}
.bas-panel .nav .edit,
.bas-panel .nav .prev,
.bas-panel .nav .next,
.bas-panel .nav .refresh {
  min-width: 1.8em;
  min-height: 1.8em;
}


/* table */
.table {
  margin-bottom: .4em;
}
.table .item.top {
  border-top: 1px solid rgba(128,128,128,.3);
}
.table .item.left {
  border-left: 1px solid rgba(128,128,128,.3);
}

.table .item {
  margin: 0;
  padding: 0 8px 0 8px;
  border-right: 1px solid rgba(128,128,128,.3);
  border-bottom: 1px solid rgba(128,128,128,.3);
}
.table spinbutton {
  border: none;
  box-shadow: none;
  background: rgba(128,128,128,.0);
}

/*
button {
    / If we don't put it, the yellow background won't be visible /
    background-image: none;
}
#label1:hover {
    transition: 500ms;
    color: red;
    background-color: yellow;
}
combobox button.combo box {
    padding: 5px;
}
combobox box arrow {
    -gtk-icon-source: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
*/